.container {
    background-color: $color-primary;


    .content {
        max-width: 1240px;
        padding: $space-3 $space-2;
        margin: 0 auto;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-1;
        border-bottom: 1px solid $color-border;

        // aca cambiar a rowñ

        @include desktop(){
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .infoItems {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $space-2;
        font-size: $font-sm;

        @include desktop(){
            flex-direction: row;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: $space-1;
        font-size: 12px;
    }

    .cta {
        margin-top: $space-1;
        display: flex;
        gap: $space-1;
        font-size: $font-sm;
    }
}